.shadow {
    box-shadow: 0px 2px 4px rgba(127, 124, 137, 0.227);
  }

  body{
    font-family:GillSansStd;
  }

  .line {
    margin:0px 20px;
    width:335px;    
    border-top:1px solid #999;
    position: relative;
    top:40px;
    float:left;
}
.leyende {
    padding-top: 30px;
    font-weight:bold;
    float:left;
 }